<header class="header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span12">
        <%# It is insert menu from Refinery CMS
          = render(:partial => "/refinery/menu", :locals => {:dom_id => 'header-menu', :css => 'header-menu' }) %>
        <nav class="header-menu">
          <ul>
            <li class="item-1"><%= link_to content_tag(:span,'Проекты'), root_path %></li>
            <% Page.all.each do |page| %>
              <li class="item-<%= (page.id+1).to_s %>"><%= link_to content_tag(:span,page.title), page_path(page.id) %></li>
            <% end %>
          </ul>

        </nav>
        <%= link_to image_tag("logo.png", :alt => 'BalticIT'), root_path, class:'header-logo' %>
      </div>
    </div>
  </div>
</header>
