<ul class="lang">
  <% I18n.available_locales.each do |locale| %>
    <% locale = locale.to_s %>
    <li class="lang-all lang-<%= locale %> <%= 'lang-active' if I18n.locale.to_s == locale %>">
      <%= link_to '', params.merge(locale: locale), class:'lang-a' %>
    </li>
  <% end %>
</ul>
