<div class="wrapper">
  <div class="row-fluid portfolio">
    <% @projects.each_with_index do |project, index| %>
      <% first_class = 'portfolio-first-line' if index%4 == 0  %>
      <%= render "shared/portfolio_item", project: project, first_class: first_class %>
    <% end %>
  </div>
</div>
