<div class="span3 portfolio-item portfolio-first-line">
  <a href="#" class="portfolio-link">
    <img src="img/woman.jpg">
    <div class="portfolio-deg">
      <p class="portfolio-text">
        <strong class="portfolio-name"><%= project.title %></strong>
        <span class="portfolio-desc"><%= project.content %>
        </span>
      </p>
      <div class="portfolio-deg-after" style="background:<%= project.preview_background %>">
      </div>
    </div>
  </a>
</div>
