<div class="wrapper">
  <div class="row-fluid btop">
    <div class="span4 btop-first" id="btop-first">
      Разрабатываем прототип на основе вашей идеи, продумываем сценарии пользовательского взаимодействия и делаем удобный дизайн интерфейса для различных типов устройств.
    </div>
    <div class="span4 btop-second">
      Делаем сложные сайты и веб-сервисы с адаптивной версткой на PHP, Ruby on Rails, Java, HTML5. Разрабатываем приложения для Facebook, Vkontakte, Foursquare, Twitter и тд.
    </div>
    <div class="span4 btop-third">
      <p class="btop-third-vertical">
        <a class="btop-third-link" href="#">Наши<br>вакансии</a>
        <a class="btop-third-link" href="#">Скачать<br>презентацию</a>
      </p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="row-fluid portfolio">
    <%= render :partial => "shared/project", :collection => @projects %>
  </div>
</div>
